.bot-message .message-text {
    /* max-width: 800px;
    text-align: left;
    width: 100%;
    color: black;
    font-family: monospace;
    font-size: 1.8rem; */
    /* -webkit-font-smoothing: antialiased; */
}

.bot-message .message-text.typing span:last-child {
    background-color: #0d6e81;
    color: #0d6e81;
}